@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  transition: all 0.3s linear;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.42857143;
  background-color: #f6f6f6;
  overflow-x: hidden;
  /* background: #808080; */
}

@layer components {
  .category-button {
    @apply flex justify-between items-center relative h-[48px] border-b-[1px] text-sm  hover:bg-[#dddddd] hover:z-20;
  }

  .arrow-container {
    @apply w-[48px] flex p-4 justify-center items-center border-l-2 text-[#41474a];
  }

  .category-button:hover .arrow-container {
    @apply border-transparent;
  }
}
